# Logs
optimizations.md
logs
*.log
npm-debug.log*
DEPLOY.md
todo.md
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Blog posts (shelved)
src/posts/art-of-clean-code.md
src/posts/the-realization.md

